#fetchsql_error{
    display:none;
}
.fetchsql_frame{
    margin-top: 20px;
}
.fetchsql_modal{
     text-align: center;

}
.fetchsql_btnsave{
    background: #5677fc; 
    border-radius: 100px; 
    color: white; 
    display:none
}


.fetchsql_btncheck{
    background: #2196F3; 
}